@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* You can add global styles to this file, and also import other style files */

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border-color: #eae3e3;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

mat-label,
mat-checkbox,
mat-form-field,
mat-radio-button,
mat-select {
  font-family: "Opensans Regular" !important;
  width: 100%;
  cursor: pointer;
}

table {
  width: 100%;

  td, th {
    white-space: pre-wrap;
    font-family: "Opensans Regular" !important;
  }
}

.table-container {
  position: absolute;
  width: 100%;
  overflow: auto;
  height: calc(100% - 130px);
}